# Frontend Configuration
VITE_PROJECT_TITLE=Jira Stats
VITE_PORT=8080
VITE_API_URL=http://localhost:3001

# Backend Configuration
SERVER_PORT=3001

# Jira Configuration
JIRA_DOMAIN=https://test.atlassian.net
JIRA_EMAIL=your_email@example.com
JIRA_TOKEN=your_jira_api_token
JIRA_JQL=project = "AM" order by created DESC

# Incremental sync interval in minutes (default: 1 day)
SYNC_INTERVAL_MINUTES=1440

